

    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
        @*<h1>
            movie review application
        </h1>
                          <h2>
                             
                              <span><a href="../movie/index" target="_blank" rel="noopener noreferrer">movies</a></span>
                              <span><a href="../review/index" target="_blank" rel="noopener noreferrer">reviews</a></span>
                          </h2>*@
    }
