@Model IEnumerable<Movie>

    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
                          <h1>
                             
                              <span><a href="../Movie/index" target="_blank" rel="noopener noreferrer">Movies</a></span>
                              <span><a href="../Review/index" target="_blank" rel="noopener noreferrer">reviews</a></span>
                          </h1>
    }
